/*-- scss:defaults --*/

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Nunito:wght@300&display=swap');

// Colors
$dark-blue: #00008B;
$slate-grey: #708090;
$white-smoke: #F5F5F5;
$steel-blue: #4682B4;
$alice-blue: #F0F8FF;
$deep-sky-blue: #00BFFF;
$cornflower-blue: #6495ED;
$yellow: #706151;
$green3: #b7b7a4;
$brown:#9c6644;
$blue4:#555b6e;
$blue: #7C898B;
$yellow: #F2CC8F;
$lightbrown: #B7A198;
$darkbrown: #6C584C;
$green: #8F9C7C;
$green2: #6b705c;
$egg: #FAFAF9;
$grey: #68777E;


// Base Document Colors
$navbar-bg: $steel-blue;
$footer-bg: $steel-blue
$body-bg: $alice-blue; // tab background color
link-color: $yellow;
$navbar-hl: $yellow; 
$navbar-fg: $egg; // navbar main text color

.navbar-brand img { // see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
  max-height: 45px;
  width: auto;
}

.center {
  text-align: center;
  left: 50%;
}

.about-link-text { // button text size (landing page)
  font-size: 18px;
}

.bi { // button icon size (landing page)
  font-size: 18px;
}

/*-- scss:rules --*/



